p {
    color: #94A3B8;
    font-size: 1.05rem;
}

span {
    color: white;
}

a {
    color: #E2E8F0;
    font-weight: 700;
    line-height: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.companyName:hover {
    color: #59DED3;
}
