/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0F1C3D;
}

.App {
  position: relative;
  height: 100vh;
}

.cursor {
  position: absolute;
  width: 300px; /* Adjust the size of the cursor */
  height: 300px; /* Adjust the size of the cursor */
  border-radius: 50%; /* Make it round */
  pointer-events: none; /* Ensure it doesn't interfere with mouse events */
  z-index: 9999; /* Ensure it's above other content */
  background: radial-gradient(600px, rgba(29, 78, 216, 0.15), transparent 80%); /* Define the gradient */
  mix-blend-mode: difference; /* Make the cursor appear white even on dark backgrounds */
  transform: translate(-50%, -50%);
}
